:root {
    --text-primary: #95654f;
    --text-secondary: #ececec;
    --bg-primary: #fff3ea;
    --bg-secondary: #fff3eacb;
    --hover: #95654fc3;
}

body {
    color: var(--text-primary);
    background: #fafafa;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, .01);
}

body::-webkit-scrollbar-thumb {
    background: var(--text-primary);
}

#logo {
    height: 2.2rem;
}

.fa-primary {
    height: 1rem;
    width: 1.3rem;
}

#cart {
    height: 1rem;
    width: 1.5rem;
}

.navbar {
    background: var(--bg-primary);
    --bs-navbar-toggler-font-size: 1rem;
    --bs-navbar-toggler-focus-width: 0.025rem;
    --bs-navbar-toggler-border-color: var(--text-primary);
}

.navbar a {
    color: var(--text-primary);
}
.dropdown-menu-end {
    right: 0;
    left: auto;
}
.btn-outline-success {
    color: var(--text-primary);
    border-color: var(--text-primary);

}
.btn-outline-success:hover{
    background-color: var(--text-primary);
    border-color: var(--text-primary);
}
.btn-outline-success:not(:disabled):not(.disabled):active{
    background-color: #95654f;
    border-color: #95654f;
    box-shadow: 0 0 0 0.2rem #95654f71;
}
.btn-outline-success.focus, .btn-outline-success:focus {
    box-shadow: none;
}
.btn-outline-success:not(:disabled):not(.disabled).active:focus, .btn-outline-success:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #95654f71;
}
.form-control {
    color: var(--text-primary);
    border-color: var(--text-primary);
    background-color: var(--bg-primary);
}

.form-control:focus {
    border-color: var(--text-primary);
    box-shadow: none;
    background-color: var(--bg-primary);
}


@media (min-width: 992px){
    .nav-text{
        display: none;
    }
    .dropdown:hover>.dropdown-menu{
        display: block;
    }
}
@media (max-width: 992px){
    .fa-primary{
        display: none;
    }
    
}
